<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">

<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Set the page to the width of the device and set the zoon level -->
<meta name="viewport" content="width = device-width, initial-scale = 1">
<title>CaBi Predict</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

<style>
.jumbotron{
    background-color:#2E2D88;
    color:white;
}
/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
</style>

</head>
<body>



<div class="container">
<!-- page-header adds space aroundtext and enlarges it. It also adds an underline at the end -->
<div class="page-header">
<h1>Capital Bikeshare Predictor</h1>
</div>
</div>

<div class="container">

<!-- well surrounds the text with a rounded border and gray background. The size can be changed with well-sm or well-lg -->
<div class="well well-sm">
<p>This app predicts near-term usage of Capital Bikeshare. Input a time frame (from present, in minutes) and click on a station to see the likelihood of outages at that station.</p>
</div>

<form id='userinfoform_lulu' method='post' action='index' > <!-- action is the URL you want to move to next-->
   <p>
   Window: <input type='text' name='myWindow' />
   </p>
   <p>
   <input type='submit' value='Enter' /> <!-- value is the text that will appear on the button. -->
   </p>
</form>

</div>


<div class="container">
<h4>
Here is a map of current status, with service probabilities predicted for {{num}} minutes from now:
</h4>
</div>


<div class="container">
 <div id="mapid" style="height: 720px; width: 1080px"></div>
    </div>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="{{ url_for('static', filename='js/leaflet-heat.js') }}"></script>


    <script>
var map = L.map('mapid').setView([38.894, -77.040], 14); 
 L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', //?access_token={accessToken}', 
             {
     attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
     maxZoom: 18,
     minZoom: 10,
 }).addTo(map);
        
        
        function makePopups(feature,layer) {
            if (feature.properties && feature.properties.name && feature.properties.terminalname) {
                layer.bindPopup(feature.properties.name 
                                + '<br/>' + 'station number: ' + feature.properties.terminalname
                                + '<br/>' + '#Bikes: ' + feature.properties.nbbikes
                                + '<br/>' + '#EmptyDocks: ' + feature.properties.nbemptydocks
                                + '<br/>' + 'Bike Demand per Hour: ' + feature.properties.bikeDemand
                                + '<br/>' + 'Dock Demand per Hour: ' + feature.properties.dockDemand
                                //+ '<br/>' + 'ppf0005_B: ' + feature.properties.ppf0005_B
                                //+ '<br/>' + 'ppf0005_D: ' + feature.properties.ppf0005_D
                                + '<br/>' + 'P(Empty ' + {{num}} + ' minutes from now): ' + feature.properties.pEmpty
                                + '<br/>' + 'P(Full ' + {{num}} + ' minutes from now): ' + feature.properties.pFull);
            }
        }
        
        gjFeatCollec = {{ gjFC_StationData|tojson|safe }}
        L.geoJson(gjFeatCollec,{onEachFeature: makePopups}).addTo(map);
        //L.geoJson(canureadjson).addTo(map);
        //var jArray = [];
        //for(var i in canureadjson['features'])
        //    jArray.push([
        
        
    </script>    
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
